<app-navbar-homepage></app-navbar-homepage>
<!-- navi wrapper End -->
<!-- slider wrapper start -->
<div class="slider-area float_left" style="margin-top: 50px !important;">
    <div class="banner_img_top">
        <img src="assets/images/banner.png" alt="img">
    </div>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-captions caption-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                <div class="content">

                                    <h2 data-animation="animated bounceInUp">Let Us Take care of you</h2>

                                    <h3 data-animation="animated bounceInUp">Good Doctors <br> Good Health
                                        </h3>

                                    <!-- <div class="slider_btn float_left">
                                        <ul>
                                            <li data-animation="animated bounceInLeft">
                                                <a href="/register">start now</a>
                                            </li>
                                            <li data-animation="animated bounceInLeft">
                                                <a href="#">view plans</a>
                                            </li>
                                        </ul>
                                    </div> -->
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                <div class="slider_main_img_wrapper">
                                    <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=338&ext=jpg" alt="slider_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-captions caption-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                <div class="content">

                                    <h2 data-animation="animated bounceInLeft">Let Us Take care of you</h2>

                                    <h3 data-animation="animated bounceInLeft">Good Doctors <br> Good Health
                                        </h3>

<!-- <div class="slider_btn float_left">
                                        <ul>
                                            <li data-animation="animated bounceInLeft">
                                                <a href="#">start now</a>
                                            </li>
                                            <li data-animation="animated bounceInLeft">
                                                <a href="#">view plans</a>
                                            </li>
                                        </ul>
                                    </div> -->
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                <div class="slider_main_img_wrapper">
                                    <img src="https://www.usz.ch/app/uploads/2020/10/Close-up-hands-holding-colorful-awareness-ribbons_Originale-Dateigroesse_15336-500x400.jpg" alt="slider_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-captions caption-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                <div class="content">

                                    <h2 data-animation="animated bounceInLeft">Let Us Take care of you</h2>

                                    <h3 data-animation="animated bounceInLeft">Good Doctors <br> Good Health
                                        </h3>

                                    <!-- <div class="slider_btn float_left">
                                        <ul>
                                            <li data-animation="animated bounceInLeft">
                                                <a href="#">start now</a>
                                            </li>
                                            <li data-animation="animated bounceInLeft">
                                                <a href="#">view plans</a>
                                            </li>
                                        </ul>
                                    </div> -->
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                <div class="slider_main_img_wrapper">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTy0F6UGexEHtYfUJ3SmZIu5ZjxDAAZAcNag&usqp=CAU" alt="slider_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><span
                        class="number"></span>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""><span class="number"></span>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""><span class="number"></span>
                </li>
            </ol>
            <div class="carousel-nevigation">
                <a class="prev" href="#carousel-example-generic" role="button" data-slide="prev"> <span></span> <i
                        class="flaticon-left-arrow"></i>
                </a>
                <a class="next" href="#carousel-example-generic" role="button" data-slide="next"> <span></span> <i
                        class="flaticon-arrow-pointing-to-right"></i>
                </a>
            </div>
        </div>
    </div>

</div>
<!-- slider wrapper End -->
<!--about us wrapper start -->
<div class="about_us_wrapper float_left">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-6 col-sm-12 col-12">
                <div class="about_img_wrapper">
                    <img src="assets/images/about_img.jpg" alt="About" class="img-responsive">
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12 col-12">
                <div class="about_content_wrapper">
                    <div class="sv_heading_wraper">
                        <h4>who we are</h4>
                        <h3>Welcome to Area 51</h3>

                    </div>
                    <div class="welcone_savehiyp float_left">
                        <p>Getting an accurate diagnosis can be one of the most impactful experiences that you can have — especially if you've been in search of that answer for a while. We can help you get there.</p>
                        <div class="welcome_save_inpvate_wrapper">
                            <ul>
                                <li class="purple_inovate"><a href="#"><i class="flaticon-check-box"></i> We
                                        Cure </a></li>
                                <li class="blue_inovate"><a href="#"><i class="flaticon-check-box"></i> We
                                        Vaccinate </a></li>
                                <li class="green_inovate"><a href="#"><i class="flaticon-check-box"></i>
                                    We take care of our patients</a></li>
                            </ul>
                        </div>
                        <div class="about_btn float_left">
                            <ul>
                                <li>
                                    <a href="#">get more</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about us wrapper end -->
<!--investment plan wrapper start -->
<!--investment plan wrapper end -->
<!-- works wrapper start -->
<div class="works_wrapper float_left">
    <div class="work_banner_wrapper">
        <img src="assets/images/work_banner.jpg" alt="img">
        <div class="img_overlay"></div>
    </div>
    <div class="howwork_banner_wrapper index2_homwork_banner_wrapper">
        <div class="vedio_link_wrapper">
            <a class="test-popup-link button" rel='external' href=''
                title='title'><i class="fa fa-play"></i></a>
            <div class="work_content_wrap">
                <h1>How It Works</h1>
                <ul class="work_checklist_wrapper">
                    <li><a href="#"><i class="fas fa-plus"></i>Book Appointment</a></li>
                    <li><a href="#"><i class="fas fa-plus"></i> Buy drugs</a></li>
                    <li><a href="#"><i class="fas fa-plus"></i> Enquiries</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

<!-- works wrapper end -->
<!--our services wrapper start -->
<div class="our_services_wrapper float_left">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="sv_heading_wraper heading_wrapper_dark dark_heading">
                    <h4> services</h4>
                    <h3>our Services</h3>

                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-12">
                <div class="investment_box_wrapper service_box feature_box float_left">
                    <div class="investment_icon_circle parpal_color">
                        <i class="flaticon-medal"></i>
                    </div>
                    <div class="investment_border_wrapper"></div>
                    <div class="investment_content_wrapper">
                        <h1><a href="#">Get Consultation</a></h1>
                        <p>Talk to professional doctors and get professional help.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-12">
                <div class="investment_box_wrapper service_box feature_box float_left">
                    <div class="investment_icon_circle red_info_circle">
                        <i class="flaticon-shield"></i>
                    </div>
                    <div class="investment_border_wrapper red_border_wrapper"></div>
                    <div class="investment_content_wrapper red_content_wrapper">
                        <h1><a href="#">Online Pharmacy</a></h1>
                        <p>Buy prescribed drugs from the online shop we got.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-12">
                <div class="investment_box_wrapper service_box feature_box float_left">
                    <div class="investment_icon_circle blue_icon_circle">
                        <i class="flaticon-bars"></i>
                    </div>
                    <div class="investment_border_wrapper blue_border_wrapper"></div>
                    <div class="investment_content_wrapper blue_content_wrapper">
                        <h1><a href="#">Lab Tests</a></h1>
                        <p>With a state of the art lab, we are able to test our patients and give accurate reading n their condiotions
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-12">
                <div class="investment_box_wrapper service_box feature_box float_left">
                    <div class="investment_icon_circle parpal_color">
                        <i class="flaticon-language"></i>
                    </div>
                    <div class="investment_border_wrapper"></div>
                    <div class="investment_content_wrapper">
                        <h1><a href="#">Eye Checkup </a></h1>
                        <p>Get tested by professional opticians.
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-sm-6 col-12">
                <div class="investment_box_wrapper service_box feature_box float_left">
                    <div class="investment_icon_circle red_info_circle">
                        <i class="flaticon-bitcoin"></i>
                    </div>
                    <div class="investment_border_wrapper red_border_wrapper"></div>
                    <div class="investment_content_wrapper red_content_wrapper">
                        <h1><a href="#">Dentist Appointments</a></h1>
                        <p>Get Fixed up professional opticians.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-12">
                <div class="investment_box_wrapper service_box feature_box float_left">
                    <div class="investment_icon_circle blue_icon_circle">
                        <i class="flaticon-headphones"></i>
                    </div>
                    <div class="investment_border_wrapper blue_border_wrapper"></div>
                    <div class="investment_content_wrapper blue_content_wrapper">
                        <h1><a href="#">Book An Appointment </a></h1>
                        <p>Schedule a visitation with the doctor.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--our services wrapper end -->
<!-- FAQ wrapper start -->
<div class="faq_wrapper float_left">
    <div class="investment_overlay faq_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="sv_heading_wraper heading_wrapper_dark">
                    <h4>FAQ section</h4>
                    <h3>Frequently Asked Questions</h3>
                </div>
            </div>
        </div>
        <div id="accordion" role="tablist">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">


                    <div class="card">

                        <!-- Card Title -->
                        <div class="card_pagee" role="tab" id="headingOne">
                            <h5 class="h5-md">
                                <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    How can i get help by inbound marketing?
                                </a>
                            </h5>
                        </div>

                        <!-- Card Content -->
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                            data-parent="#accordion" >
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingTwo">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    What about loan programs?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                            data-parent="#accordion" >
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac2.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingThree">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    Our Happy Clients
                                </a>
                            </h5>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac3.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="heading4">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapse41" role="button"
                                    aria-expanded="false" aria-controls="collapse41">
                                    Get Training From Experts
                                </a>
                            </h5>
                        </div>

                        <div id="collapse41" class="collapse" role="tabpanel" aria-labelledby="heading4"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="heading7">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapseT" role="button"
                                    aria-expanded="false" aria-controls="collapseT">
                                    User Guide: Getting Started
                                </a>
                            </h5>
                        </div>

                        <div id="collapseT" class="collapse" role="tabpanel" aria-labelledby="heading7"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac3.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-12">

                    <div class="card">

                        <!-- Card Title -->
                        <div class="card_pagee" role="tab" id="headingfour">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapse1" role="button"
                                    aria-expanded="false" aria-controls="collapse1">
                                    What about loan programs?
                                </a>
                            </h5>
                        </div>

                        <!-- Card Content -->
                        <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="headingfour"
                            data-parent="#accordion" >
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingfive">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapse2" role="button"
                                    aria-expanded="false" aria-controls="collapse2">
                                    Unlimited Features & Unique Layouts
                                </a>
                            </h5>
                        </div>

                        <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="headingfive"
                            data-parent="#accordion" >
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac2.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingnine">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapse02" role="button"
                                    aria-expanded="false" aria-controls="collapse02">
                                    Clean and Unique
                                </a>
                            </h5>
                        </div>

                        <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="headingnine"
                            data-parent="#accordion" >
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac2.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingten">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapse092" role="button"
                                    aria-expanded="false" aria-controls="collapse092">
                                    Deeply Customisable Theme
                                </a>
                            </h5>
                        </div>

                        <div id="collapse092" class="collapse" role="tabpanel" aria-labelledby="headingten"
                            data-parent="#accordion" >
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac2.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingsiz">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapse3" role="button"
                                    aria-expanded="false" aria-controls="collapse3">
                                    How do I use the features ?
                                </a>
                            </h5>
                        </div>

                        <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="headingsiz"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac3.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingseven">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapse31" role="button"
                                    aria-expanded="false" aria-controls="collapse31">
                                    Pixel perfect and responsive
                                </a>
                            </h5>
                        </div>

                        <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="headingseven"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac2.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card">

                        <div class="card_pagee" role="tab" id="headingeight">
                            <h5 class="h5-md">
                                <a class="collapsed" data-toggle="collapse" href="#collapse32" role="button"
                                    aria-expanded="false" aria-controls="collapse32">
                                    Imagination Is The Beginning
                                </a>
                            </h5>
                        </div>

                        <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="headingeight"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div class="card_img">
                                    <img src="assets/images/ac1.jpg" alt="img">
                                </div>
                                <div class="card_cntnt">
                                    <p>Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi
                                        gravida nibh vel velit auctor.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="about_btn calc_btn faqq_btn float_left">
                <ul>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal"> BOOK APPOINTMENT</a>
                    </li>
                </ul>
            </div>
            <div class="modal fade question_modal" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="sv_question_pop float_left">
                                    <h1>Book an Appointment </h1>
                                    <div class="search_alert_box float_left">

                                        <div class="apply_job_form">

                                            <input type="text" name="full_name" placeholder="full name">
                                        </div>
                                        <div class="apply_job_form">

                                            <input type="text" name="Email" placeholder="Enter Your Email">
                                        </div>

                                        <div class="apply_job_form">
                                            <textarea class="form-control" name="message"
                                                placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="question_sec float_left">
                                        <div class="about_btn calc_btn faqq_btn ques_Btn">
                                            <ul>
                                                <li>
                                                    <a href="#">apply now</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cancel_wrapper">
                                            <a href="#" class="" data-dismiss="modal">cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQ wrapper end -->
<!-- footer section start-->
<app-footer></app-footer>
<!-- footer section end-->
