<div class="l-sidebar">
  <div class="l-sidebar__content">
    <nav class="c-menu js-menu" id="mynavi">

      <ul class="u-list crm_drop_second_ul">
        <li class="crm_navi_icon">
          <div class="c-menu__item__inner"><a routerLink="/dashboard"><i class="flaticon-profile"></i></a>
          </div>
        </li>
        <li class="c-menu__item crm_navi_icon_cont">
          <a routerLink="/dashboard">
            <div class="c-menu-item__title">Dashboard</div>
          </a>
        </li>
        <li class="c-menu__item crm_navi_icon_cont">
          <a href="#" data-toggle="modal" data-target="#myModal"> Create Doctor</a>
        </li>
      </ul>
    </nav>
  </div>
</div>


<div class="modal fade question_modal" id="myModal" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="sv_question_pop float_left">
                      <h1>Add new Doctor </h1>
                      <form [formGroup]="createDotorsForm" autocomplete="off">

                        <mat-form-field class="form-group icon_form comments_form register_contact">
                          <input type="text" class="form-control require" matInput formControlName="firstName" placeholder="FirstName*">
                        </mat-form-field>

                        <mat-form-field class="form-group icon_form comments_form register_contact">
                          <input type="text" class="form-control require" matInput formControlName="lastName" placeholder="LastName*">
                        </mat-form-field>

                        <mat-form-field class="form-group icon_form comments_form register_contact">
                          <input type="email" class="form-control require" matInput formControlName="email" placeholder="Email*">
                        </mat-form-field>

                        <mat-form-field class="form-group icon_form comments_form register_contact">
                          <input type="text" class="form-control require" matInput formControlName="userName" placeholder="userName*">
                        </mat-form-field>

                        <mat-form-field class="form-group icon_form comments_form register_contact">
                          <input type="password" class="form-control require" matInput formControlName="password" placeholder="Password***">
                        </mat-form-field>

                        <mat-form-field class="form-group icon_form comments_form register_contact">
                          <input type="password" class="form-control require" matInput formControlName="validatePassword" placeholder="Confirm Password***">
                        </mat-form-field>

                        <mat-form-field class="form-group icon_form comments_form register_contact">
                          <input type="text" class="form-control require" matInput formControlName="telephone1" placeholder="Phone Number***">
                        </mat-form-field>

                        <mat-form-field class="form-group icon_form comments_form register_contact">
                          <input type="number" class="form-control require" matInput formControlName="addr" placeholder="Postal Address***">
                        </mat-form-field>

                        <div class="about_btn login_btn float_left">
                          <a (click)="submitRegistrationData()">Save Doctor</a>
                        </div>
                      </form>
                      <!-- <div class="search_alert_box float_left">

                          <div class="apply_job_form">

                              <input type="text" name="full_name" placeholder="full name">
                          </div>
                          <div class="apply_job_form">

                              <input type="text" name="Email" placeholder="Enter Your Email">
                          </div>

                          <div class="apply_job_form">
                              <textarea class="form-control" name="message"
                                  placeholder="Message"></textarea>
                          </div>
                      </div> -->
                      <div class="question_sec float_left">
                          <div class="about_btn calc_btn faqq_btn ques_Btn">
                              <ul>
                                  <li>
                                      <a  >apply now</a>
                                  </li>
                              </ul>
                          </div>
                          <div class="cancel_wrapper">
                              <a href="#" class="" data-dismiss="modal">cancel</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>