<!-- cp navi wrapper Start -->
<app-navbar></app-navbar>

<!-- inner header wrapper start -->
<div class="page_title_section dashboard_title">

  <div class="page_header">
    <div class="container">
      <div class="row">

        <div class="col-xl-9 col-lg-7 col-md-7 col-12 col-sm-7">

          <h1>Dashboard </h1>
        </div>
        <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-sm-5">
          <div class="sub_title_section">
            <ul class="sub_title">
              <li> <a routerLink="/dashboard"> Home </a>&nbsp; / &nbsp; </li>
              <li>Dashboard</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- inner header wrapper end -->


<app-sidebar></app-sidebar>



<!-- Main section Start -->
<div class="l-main">
  <!--  Dashboard wrapper start -->
  <div class="account_top_information">
    <div class="account_overlay"></div>
    <div class="useriimg"><img src="assets/images/user.png" alt="users"></div>
    <div class="userdet uderid">
      <u>
        <h2><b style="color: white;">{{user?.username}}</b></h2>
      </u>

      <dl class="userdescc">
        <dt>Email</dt>
        <dd>: &nbsp; {{user?.email}}</dd>
        <dt>First Name</dt>
        <dd>: &nbsp; {{user?.firstName}}</dd>
        <dt>Phone Number</dt>
        <dd>: &nbsp; {{user?.telephone1}}</dd>
        <dt>Last Name</dt>
        <dd>: &nbsp;{{user?.lastName}} </dd>
        <dt>Role</dt>
        <dd>: &nbsp; {{user?.role}}</dd>
      </dl>
    </div>

    <!-- <div class="userdet user_transcation">
      <h3>Available Balance</h3>
      <dl class="userdescc">
        <dt>Paypal</dt>
        <dd>:&nbsp;&nbsp;Ksh 392.79</dd>
        <dt>Pexpay</dt>
        <dd>:&nbsp;&nbsp;Ksh 498.61</dd>
        <dt>PerfectMoney</dt>
        <dd>:&nbsp;&nbsp;Ksh 60.18</dd>
        <dt>Payza</dt>
        <dd>:&nbsp;&nbsp;Ksh 435</dd>
        <dt>HDMoney</dt>
        <dd>:&nbsp;&nbsp;Ksh 0.08</dd>

      </dl>
    </div> -->

  </div>
  <!--  Dashboard wrapper end -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="modal fade question_modal" id="myModal" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="sv_question_pop float_left">
                              <h1>Book an Appointment </h1>
                              <div class="container">
                                <form [formGroup]="appointmentForm" autocomplete="off">
                                    <div class="form-group icon_form comments_form">
                                      <input type="email" class="form-control require" matInput
                                        formControlName="doctorName" placeholder="Your Doctor's name* ">
                                    </div>

                                   <mat-form-field>
                                    <div class="apply_job_form">
                                      <textarea class="form-group icon_form comments_form"  matInput
                                      formControlName="message"
                                          placeholder="Message"></textarea>
                                    </div>
                                  </mat-form-field>
                                  <br>
                                    <mat-form-field>
                                      <div class="apply_job_form">
                                        <input type="number" class="form-group icon_form comments_form" matInput
                                        formControlName="day" placeholder="Day* ">
                                      </div>
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                                      <div class="apply_job_form">
                                        <input type="number" class="form-group icon_form comments_form" matInput
                                        formControlName="month" placeholder="Month* ">
                                      </div>
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                                      <div class="apply_job_form">
                                        <input type="number" class="form-group icon_form comments_form" matInput
                                          formControlName="year" placeholder="Year* ">
                                      </div>
                                    </mat-form-field>
                                    <br>
                                  <mat-form-field>
                                    <mat-label>Appointment Options</mat-label> <br>
                                    <select class="form-group icon_form comments_form" matNativeControl required>
                                      <option *ngFor="let opt of options" [value]="opt.value">
                                        {{ opt.viewValue }}
                                      </option>
                                    </select>
                                  </mat-form-field>

                                  <br><br>
                                    <div class="dont_have_account float_left">
                                      <!-- <p>Don’t have an acount ? <a routerLink="/register">Sign up</a></p> -->
                                    </div>
                                  </form>
                              </div>

                              <div class="question_sec float_left">
                                  <div class="about_btn calc_btn faqq_btn ques_Btn">
                                      <ul>
                                          <li>
                                              <a (click)="bookAppointment()" >apply now</a>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="cancel_wrapper">
                                      <a href="#" class="" data-dismiss="modal">cancel</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>

  <!-- referrals wrapper end -->
  <!--  transactions wrapper start -->
  <div class="last_transaction_wrapper float_left">

    <div class="row">

      <div class="col-md-12 col-lg-12 col-sm-12 col-12">
        <div class="sv_heading_wraper">

          <h3>APPOINTMENTS</h3>

        </div>
      </div>
      <div class="crm_customer_table_main_wrapper float_left">

        <div class="table-responsive">
          <table class="myTable table datatables cs-table crm_customer_table_inner_Wrapper">
            <thead>
              <tr>
                <th class="width_table1">Day</th>
                <th class="width_table1">Month</th>
                <th class="width_table1">Year</th>
                <th class="width_table1">Patient Name</th>
                <th class="width_table1">Doctor name</th>

                <th class="width_table1">Actions</th>
                <!-- <th class="width_table1">options</th> -->

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of appointments" class="background_white">

                <td>
                  <div class="media cs-media">

                    <div class="media-body">
                      <h5>{{transaction.day}}</h5>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pretty p-svg p-curve">{{transaction.month}}</div>
                </td>
                <td>
                  <div class="pretty p-svg p-curve">{{transaction.year}}</div>
                </td>
                <td>
                  <div class="pretty p-svg p-curve">{{transaction.patient.username}}</div>
                </td>
                <td class="flag">
                  <div class="pretty p-svg p-curve">{{transaction.doctor.username}}</div>
                </td>

                <td class="flag">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                      <a href="#" data-toggle="modal" data-target="#createPatienRecord">
                      <i class="fas fa-arrow-circle-right"></i>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="#" data-toggle="modal" data-target="#createPatienRecord">
                        <i class="fas fa-eye"></i>
                      </a>
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                </td>

                <td>
                  <!-- <nav class="navbar navbar-expand"> -->
                  <!-- <ul class="navbar-nav"> -->
                  <!-- Dropdown -->
                  <!-- <li class="nav-item dropdown"> -->
                  <!-- <a class="nav-link dropdown-toggle" routerLink="/dashboard" data-toggle="dropdown"> -->
                  <!-- <i class="fa fa-ellipsis-v"></i> -->
                  <!-- </a> -->
                  <!-- <div class="dropdown-menu"> <a class="dropdown-item" routerLink="/dashboard">Edit</a> -->
                  <!-- <a class="dropdown-item" routerLink="/dashboard">Delete</a> -->
                  <!-- </div> -->
                  <!-- </li> -->
                  <!-- </ul> -->
                  <!-- </nav> -->
                </td>
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="modal fade question_modal" id="createPatienRecord" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="sv_question_pop float_left">
                                            <h1>New Patient Record </h1>
                                            <div class="container">
                                              <form [formGroup]="creatPatientRecordForm" autocomplete="off">

                                                 <mat-form-field>
                                                  <div class="apply_job_form">
                                                    <textarea class="form-group icon_form comments_form"  matInput
                                                    formControlName="message"
                                                        placeholder="Message"></textarea>
                                                  </div>
                                                </mat-form-field>

                                                <br><br>
                                                  <div class="dont_have_account float_left">
                                                    <!-- <p>Don’t have an acount ? <a routerLink="/register">Sign up</a></p> -->
                                                  </div>
                                                </form>
                                            </div>

                                            <div class="question_sec float_left">
                                                <div class="about_btn calc_btn faqq_btn ques_Btn">
                                                    <ul>
                                                        <li>
                                                            <a (click)="createPatientRecord(transaction.id)" >apply now</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cancel_wrapper">
                                                    <a href="#" class="" data-dismiss="modal">cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="client.role == 'MANAGERS'" class="last_transaction_wrapper float_left">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-12">
        <div class="sv_heading_wraper">
          <h3>REVIEWS</h3>
        </div>
      </div>
      <div class="crm_customer_table_main_wrapper float_left">
        <div class="table-responsive">
          <table class="myTable table datatables cs-table crm_customer_table_inner_Wrapper">
            <thead>
              <tr>
                <th class="width_table1">username</th>
                <th class="width_table1">message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of reviews" class="background_white">

                <td>
                  <div class="pretty p-svg p-curve">{{transaction.client.username}}</div>
                </td>
                <td>
                  <div class="pretty p-svg p-curve">{{transaction.message}}</div>
                </td>
                </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>




  <ngx-loading [show]="loading"></ngx-loading>
  <!--  transactions wrapper end -->
  <!--  footer  wrapper start -->
  <app-footer-dashboard></app-footer-dashboard>
</div>
<!--  footer  wrapper end -->